/* src/App.css */

.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list-books-title {
  background: #2e7c31;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.bookshelf {
  padding: 0 20px 20px;
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}

.book {
  width: 140px;
}

.book-cover {
  background-size: cover;
  border-radius: 2px;
}

.book-shelf-changer {
  position: absolute;
  top: 0;
  right: 0;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  background-color: #2e7c31;
  border-radius: 50%;
  color: white;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 30px;
  text-decoration: none;
}
